@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  min-height: 800px;
  width: 90%;
  margin: 0 auto;
  padding: 0 50px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  margin-top: 0;
}
h1,
h2,
h3 {
  font-weight: 700;
  font-size: 22px;
}
h1 {
  color: #078080;
  display: inline;
  padding-top: 35px;
}
h2,
p {
  margin: 0;
}

h2 {
  margin-bottom: 8px;
}

header {
  display: grid;
  grid-template-columns: 70% 30%;
}

.nav_menu {
  display: flex;
  align-items: center;
}
.nav_link {
  border-top: 2px solid transparent;
  padding: 48px;
}

.nav_link:hover {
  color: #078080;
  border-top: 2px solid #078080;
}

.search_sentence {
  margin-bottom: 20px;
}

.search_bar {
  margin-bottom: 30px;
  display: flex;
  height: 51px;
}
.search_marseille {
  font-weight: 700;
  font-size: 18px;
  border: solid 1px #f2f2f2;
  padding-left: 17px;
}
.search_marseille::placeholder {
  color: black;
}
.search_submit {
  color: white;
  background: #078080;
  border-radius: 0 15px 15px 0;
  border: solid 1px #078080;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding: 14px 16px 14px 16px;
}

.form__label {
  display: flex;
  flex: 0 0 52px;
  background: #f2f2f2;
  border: solid 1px #f2f2f2;
  border-radius: 15px 0 0 15px;
  font-size: 18px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.filters {
  display: flex;
  align-items: center;
  gap: 1.5em;
  font-weight: 700;
  font-size: 17px;
  margin: 0 0 30px 7px;
}

.filters_links {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}
.filters_links a {
  display: flex;
  border: solid 2px #d9d9d9;
  border-radius: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  gap: 10px;
}

.filters_links a i {
  color: #078080;
  font-size: 22px;
}

.filters_links a:hover {
  background: #07808021;
}

.search_info {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: 4px;
}

.search_info i {
  border: 1px solid #d9d9d9;
  color: #078080;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.search {
  margin: 9px 0 39px 5px;
}
.hebergements {
  background: #f2f2f2;
  width: 63%;
  border-radius: 20px;
  padding: 40px;
  display: grid;
}
.hebergements h3 {
  margin: 0 0 23px 0;
}

.screen_hebergements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;
}
article {
  background: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 2px 2px 20px 0px #00000015;
}

.hebergements img {
  width: 100%;
  height: 114px;
  border: 1px solid white;
  border-radius: 17px 17px 0 0;
  object-fit: cover;
}

.afficher_plus {
  margin: 40px 0 0 4px;
  font-weight: 700;
  font-size: 18px;
}

.card__star {
  color: #078080;
  font-size: 12px;
  display: flex;
}
.card__star--inactive {
  color: #d9d9d9;
}
